/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  padding: 25px;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

img {
  width: 100%;
}

/* --- Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* ------- Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 10px 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 42px;
  color: #fff;
}

header nav ul {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* ------- Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 100%;
}

form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 10px;
  width: 100%;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: auto;
}

form .select {
  display: inline-block;
}

/* ------- Ideas ------- */
#ideas .invis-mobile {
  display: none;
}

/* ------- Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* ------- About ------- */
body #about {
  padding: 30px;
}

body #about .about-inner-content {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

body #about p {
  padding: 10px;
  width: 50%;
}

body #about img {
  padding: 10px;
  width: 50%;
}

/* ------- Stay ------- */

body #stay form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0px 10px;
}

body #stay label {
  width: 100%;
}

body #stay .select {
  width: 100%;
}

body #stay button {
  padding: 10px 20px;
  font-size: 20px;
}

body #stay div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px 5px;
}

/* ------- Ideas ------- */

body #ideas .ideas-container {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  margin: 40px auto;
}

body #ideas img {
  max-width: 350px;
  padding: 25px;
}

body #ideas .forests {
  display: flex;
  flex-direction: column;
}

body #ideas .beaches {
  display: flex;
  flex-direction: column;
}

body #ideas .invis-mobile {
  display: inline-block;
}

body #ideas .rustic-cabins {
  display: none;
}

body #ideas .pet-friendly {
  display: none;
}

/* ------- Host ------- */
body #host {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

body #host .host-group {
  flex: 1;
  padding: 20px;
}

body #host img {
  flex: 1;
  width: auto;
  max-width: 100%;
}

body #host p {
  line-height: 1.5em;
  margin: 0;
  flex: 1;
}

body #host ul {
  flex: 1;
  margin-top: 10px;
  padding-left: 20px;
}

/* ------- Default ------- */

/* ------- Host ------- */
body #host .host-group {
  padding: 20px 40px;
  width: 50%;
}

body #host img {
  width: 100%;
  max-width: none;
}

body #host p {
  flex: 0 0 50%;
  margin-right: 20px;
}

/* -------  Media Query ------- */
@media (max-width: 790px) {
  /* ------- Header ------- */
  body header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  body .logo {
    font-size: 30px;
  }

  body header nav ul li {
    padding: 0 8px;
  }

  /* ------- Stay ------- */
  body #stay form {
    align-items: center;
    flex-direction: column;
  }

  body #stay label {
    width: 20%;
  }

  body #stay button {
    width: 50%;
    padding: 10px 20px;
    font-size: 20px;
  }

  body #stay div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    padding: 10px 5px;
  }

  /* ------- About ------- */
  body #about .about-inner-content {
    text-align: center;
    flex-direction: column;
  }

  body #about img {
    width: 80%;
    padding: 30px;
  }

  /* ------- Host ------- */
  body #host {
    flex-direction: column;
  }

  /* ------- Ideas ------- */
  body #ideas {
    flex-direction: column;
    align-items: center;
  }

  body #ideas .ideas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body #ideas .invis-mobile {
    display: none;
  }

  body #ideas .mobile {
    display: flex;
    flex-direction: column;
  }
}
